@model IEnumerable<Tuan4_LeHuuVang_1911065701.Models.GioHang>
    @{
        ViewBag.Title = "GioHang";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Bạn đã đặt hàng thành công</h2>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.tensach)</th>
            <th>@Html.DisplayNameFor(model => model.hinh)</th>
            <th>@Html.DisplayNameFor(model => model.giaban)</th>
            <th>@Html.DisplayNameFor(model => model.isoluong)</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.tensach)</td>
                <td><img src="@item.hinh" width="180" /></td>
                @using (Html.BeginForm("Capnhatgiohang", "Giohang", new { @id = item.masach }))
                {
                    <td>@String.Format("{0:0,0}", item.giaban) VND</td>

                    <td>@Html.DisplayFor(modelItem => item.isoluong)</td>
                }
            </tr>
        }
 </table>

